#cloud-config
hostname: {{ vm_name | replace('_', '-') | to_json }}
manage_etc_hosts: true

users:
  - name: {{ selected_admin_users[0].name | to_json }}
    groups: [sudo]
    shell: /bin/bash
    lock_passwd: false
    hashed_passwd: {{ selected_admin_users[0].password_hash | to_json }}
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
      - {{ lookup('ansible.builtin.file', '~/.ssh/ansible.pub') | trim | to_json }}

disable_root: true
ssh_pwauth: false

growpart:
  mode: auto
  devices: ["/"]

resize_rootfs: true

package_update: true
package_upgrade: false

packages:
  - openssh-server
  - sudo
  - python3

write_files:
  - path: /etc/ssh/sshd_config.d/00-ansible-bootstrap.conf
    owner: root:root
    permissions: "0644"
    content: |
      Port {{ vault_ssh_port }}
      PermitRootLogin no
      PasswordAuthentication no
      KbdInteractiveAuthentication no

runcmd:
  - [systemctl, enable, --now, ssh]
  - [sh, -c, '/usr/sbin/sshd -t && systemctl reload ssh']
