#cloud-config
hostname: {{ vm_name | replace('_', '-') | to_json }}
manage_etc_hosts: true

users:
  - name: {{ selected_admin_users[0].name | to_json }}
    groups: [wheel]
    shell: /bin/ash
    lock_passwd: false
    hashed_passwd: {{ selected_admin_users[0].password_hash | to_json }}
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
      - {{ lookup('ansible.builtin.file', '~/.ssh/ansible.pub') | trim | to_json }}

disable_root: true
ssh_pwauth: false

growpart:
  mode: auto
  devices: ["/"]

resize_rootfs: true

write_files:
  - path: /etc/apk/repositories
    permissions: "0644"
    content: |
      https://dl-cdn.alpinelinux.org/alpine/v3.24/main
      https://dl-cdn.alpinelinux.org/alpine/v3.24/community

  - path: /etc/ssh/sshd_config
    permissions: "0600"
    content: |
      Port 22
      PermitRootLogin no
      PasswordAuthentication no
      KbdInteractiveAuthentication no
      PubkeyAuthentication yes
      AuthorizedKeysFile .ssh/authorized_keys
      AllowUsers ansible_admin
      Subsystem sftp internal-sftp

package_update: true

packages:
  - openssh
  - sudo
  - python3

runcmd:
  - |
      set -eu
      ssh-keygen -A
      sshd -t
      rc-update add sshd default
      rc-service sshd start
